<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontoon</title>
    <script src= "{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
</head>
<body>
    <p>Player 1:</p>
    <button id = "twist" onclick="cardPick()">Hit Me</button>
    <button onclick="restart()">Restart</button>
    <p id="cardHolder">4</p>
    <p id="currentCards">0</p>
    <p id="currentTotal">0</p>
    <p id="bust"></p>
</body>

</html>